<div class="comments-form">
  <%= form_with(model: [post, comment]) do |form| %>
    <% if comment.errors.any? %>
      <div class="comments-form_errors" id="error_explanation">
        <h2 class="comments-form_errors-count"><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul class="comments-form_errors-messages">
        <% comment.errors.full_messages.each do |message| %>
          <li class="comments-form_errors-message" ><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field form_point comments-form_content">
      <%= form.label :content %>
      <span class="text-break"><%= form.text_area :content,placeholder: "コメントを255文字以内で送ってみよう" %></span>
    </div>
    <div class="field form_point comments-form_score">
      <%= form.label :score %>
      <div class="comments-form_score app-score" data-score="3" data-score-name="comment[score]" ></div>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  <script>
    window.showHalfScores({
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'comment[score]'
    });
  </script>
</div>