<div class="profile_header-s">
    <%= image_tag(current_user.image.url, class: 'user_profile-s') if current_user.image.present? %>
    <div class="username-s">
        <%= current_user.name %> さんの投稿
    </div>
</div>

<%= form_with(model: @post, local: true) do |f| %>
  <div class = "field">
      <%= f.label :'🖋 投稿内容を書く'%><br>
      <%= f.text_area :content%>
  </div>
  <div class = "field">
      <%= f.label :'📷  画像を選択する'%><br>
      <%= f.file_field :image %>
  </div>
  <%= image_tag(@post.image.url) if @post.image.present? %>
  <div>
      <%= f.submit %>
  </div>
<% end %>