<div class="profile_header-s">
    <%= image_tag(current_user.image.url, class: 'user_profile-s') if current_user.image.present? %>
    <div class="username-s">
        <%= current_user.name %> сЂЋсѓЊсЂ«ТіЋуе┐
    </div>
</div>

<%= form_with(model: @post, local: true) do |f| %>
<div>
  <div class = "field-content">
      <%= f.label :'­ЪќІ ТіЋуе┐тєЁт«╣сѓњТЏИсЂёсЂдсЂ┐сѓІсђѓ'%><br>
      <%= f.text_area :content,placeholder:"ТіЋуе┐тєЁт«╣сѓњТЏИсЂёсЂдсЂ┐сѓІсђѓ"%>
      
  </div>
</div>

<div>
  <div class = "field-image">
      <%= f.label :'­ЪЊи  ућ╗тЃЈсѓњжЂИТіъсЂЎсѓІ'%><br>
      <%= f.file_field :image %>
  </div>
  <%= image_tag(@post.image.url) if @post.image.present? %>
  <div>
      <%= f.submit %>
  </div>
</div>
<% end %>
