<div class="posts-index_list-item" id=<%= "posts-index_list-#{post.id}" %>>
    <div class="profile_header-s">
    <%= image_tag(post.user.image.url, class: 'user_profile-s') if post.user.image.present? %>
    <div class="username-s">
        <%= post.user.name %> さんの投稿
    </div>
    </div>
    <div class="posts-index_row-content">
        <%= post.content %>
    </div>
    <%= image_tag(post.image.url) if post.image.present? %>
    <p>コメント数</p>
    <p><%= post.comments.length %>件</p>
    <div>平均レビュー数</div>
    <div class="app-score_readonly" data-score=<%= "#{post.avg_score}" %>></div>
    <%= link_to '詳細', post_path(post.id) %>
    <% if current_user && current_user.id == post.user_id %>
        <%= link_to '編集', edit_post_path(post.id) %>
        <%= link_to '削除', post_path(post.id), method: :delete, data: {confirm: "投稿を削除してもよろしいでしょうか？"} %><br>
    <% end %>
    <div class="post-list-border"></div>
</div>