<div class="listings">
  <div class="listings_channels">
    <ul class="channel_list">
      <li><%= sidebar_link_item('HOME', posts_path) %></li>
      <li><%= sidebar_link_item('NewPost', new_post_path) %></li>
      <li><%= sidebar_link_item('Comments list', root_path) %></li>
      <li><%= sidebar_link_item('Bookmark', user_favorites_path(user_id: current_user.id)) %></li>
      <li><%= sidebar_link_item('My profile', edit_user_registration_path) %></li>
    <li><%= sidebar_link_item('Write diary', new_record_path) %></li>
    </ul>
  </div>
</div>