<div class="listings">
  <div class="listings_channels">
    <ul class="channel_list">
      <% if current_user%>
        <li><%= sidebar_link_item('HOME', posts_path) %></li>
        <li><%= sidebar_link_item('NEW POST', new_post_path) %></li>
        <li><%= sidebar_link_item('BOOKMARK', user_favorites_path(user_id: current_user.id)) %></li>
        <li><%= sidebar_link_item('MY POST', user_posts_path(user_id: current_user.id)) %></li>
        <li><%= sidebar_link_item('MY PROFILE', edit_user_registration_path) %></li>
      <% end %>
    </ul>
  </div>
</div>