<header>
  <nav class="navbar navbar-expand navbar-light">
    <h2><%= link_to "Oneness", root_path, class: 'navbar-brand' %></h2>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'マイページ', edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
            <% end %>

            
          <% if current_user.try(:admin?) %>
        <li class = "item_bar"> <%= link_to '管理者画面', rails_admin_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>