<!DOCTYPE html>
<html>
  <head>
    <title>Oneness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="layouts-appliocation">
      <% if should_sidebar? %>
      <div class="layouts-appliocation_sidebar">
        <%= render'application/sidebar' if should_sidebar? %>
      </div>
      <div class="layouts-appliocation_body">
        <% if user_signed_in? %>
          <%= link_to "post投稿", new_post_path %>
          <%= link_to "新しくヨガ日記を書く", new_record_path, class: 'btn-border-bottom'  %>
        <% else %>
        <% end %>
        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %> 
        <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
