<!DOCTYPE html>
<html>
  <head>
    <title>Oneness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="layouts-appliocation">
      <% if should_sidebar? %>
      <div class="layouts-appliocation_sidebar">
        <%= render'application/sidebar' if should_sidebar? %>
      </div>
      <div class="layouts-appliocation_body">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
        </div>
      <% else %>
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      <% end %>
    </div>
  </body>
  <script>
      window.starOffPath = '<%= asset_path('star-off.png') %>'
      window.starOnPath = '<%= asset_path('star-on.png') %>'
      window.starHalfPath = '<%= asset_path('star-half.png') %>'
      window.showReadonlyHalfScores({
        starOff: window.starOffPath,
        starOn : window.starOnPath,
        starHalf: window.starHalfPath,
        size: 25,
      });
      window.showHalfScores({
        starOff: window.starOffPath,
        starOn : window.starOnPath,
        starHalf: window.starHalfPath,
        scoreName: 'comment[score]',
        size: 25,
      });
    </script>
</html>
